/* Bootstrap overrides */
.row { margin-left: 0px;}

.noDisplay { display: none; }
.error { border-color: red;}
a { padding-left: 2px; padding-right: 2px;}

.card {
	margin: 5px;
	padding: 10px;
	font-weight: 200;

	border: solid 1px #ffffff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset rgba(0, 0, 0, 0.0980392) 0px 1px 10px 0px;
	box-shadow: inset rgba(0, 0, 0, 0.0980392) 0px 1px 10px 0px;
}

.card p { margin: 0px; cursor: move;}

.column {
	border: solid 1px #ffffff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-left: 10px;
	height: 400px;	
	background-color: #f9f9f9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 10px 0px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 10px 0px;
}

.columnHeader { 
	margin: 10px 0px;
	padding: 0px 3px;
	font-size: 15px;
	color: #777;
}